.column1, .column2, .column3, .column4, .column5 {
  width: 18%;
  float:left;
  border: 2px solid blue;
  border-radius: 1em;
}

div p {
  font-family: sans-serif;
}
.aboutus a {
  color: green;
}
img {
  width:90%;
}

.column1 img {
  border: 2px solid brown;
}

.pets {
  background-color: aquamarine;
}

.aboutus {
  text-align: center;
  width:50%;
  margin:auto;
  padding-top: 20%;
}
.blockquote-footer {
  font-size: x-large;

}



/* for bootstrap.html a comment that doesn't do any code */
/* html, body, .container, .row {
  height: 100%;
} */
.col-12 {
  background-color: grey;
  padding: 10px;
  text-align:center;
}
#three {
  background-color: pink;
}
#nine {
  background-color: black;
  color: white;
}
.abt {
  margin: auto;
  width: 30%;
  padding: 1em;
}
.abt h3 {
  text-align: center;
}

#cutemonkey {
  border-radius: 50px;
  border: 10px dotted darkmagenta;
  height: 30%;
}

